header{
    padding: 3rem;
    text-align: center;
    background-color: #4A8D5E;
    color: black;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
}
header>img{
    height: 4rem;
    width: 26rem;
}
div{
    background-color: #BDA682;
    font-family:'Times New Roman', Times, serif;
    padding: 2rem;
    text-align: left;
}
@media (min-width:800px){
    .about{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .about>div{
        width: 41%;
    }
    .thework{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .thework>div{
        max-width: 82%;
    }
    .contact{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .contact>div{
        max-width: 82%;
    }
}